<!DOCTYPE html>
<html>
  <head>
  <style>
  p.impact {
  font-family: Impact, Charcoal, sans-serif;
}
</style>
    <meta charset="utf-8">
    <p style=font-family:Arial, Helvetica, sans-serif><h1><center> As Above So Below</center> </h1></p><br>
    <p class="impact"> <u>About Minerva Sliggery</u></p>
    <aside class="sidebar-col"> <p> Minerva Sliggery founded the  Sliggery School of Sorcery in 1601 in the small New England town of Boston. Her vision for the institute was to establish a school where the occult arts were studied along with general subjects such as art, chemistry, and biology. The school has withstood the tests of time, having survived persecuton and the Salem Witch Trials. It boasts a 99% graduation rate, and has helped many students achieve mastery in magic, potion making, and arts of the occult.</p></aside>
  <br>
  <style>
  p.impact {
  font-family: Impact, Charcoal, sans-serif;
}
</style>
<p class="impact"> <u>Mission Statement</u></p>
<p><%= link_to "Home", root_path %></p>
  </head>
  <body>
  <style>
  body {
  background-image: url('https://cdn.pixabay.com/photo/2020/02/19/16/03/fantasy-4862558_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

 </body>
</html>